@font-face {
  font-family: 'FuenteLato';
  src: url(../fuentes/Lato-Regular.ttf);
}

body{
	margin: 20px;
	font-family: Lora;
}

.resaltado{
	background-color: yellow;
	color: black;
}

#menu-principal{
	font-family: FuenteLato;
	padding: 10px 0px;
	font-style: italic;
}

footer{
	border-top: solid 1px black;
	padding-top: 10px;
	text-align: center;
}

h1.titulo{
	background-color: aliceblue;
	font-family: FuenteLato;
	text-align: center;
	padding: 10px;
	font-variant: small-caps;
}
