.img-profile{
  width: 50px;
}

.card-panel{
  padding: 0 !important;
}
.calendar-container{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.days{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding-left: 0.2rem;
  border-bottom: 1px solid #e0e0e0;
}
.days span{
  width: 14.28%;
  font-size: 0.8rem;
  color: #009688;
}
.calendar-item{
  width: 14.28%;
  height: 92.3px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  padding-left: 0.2rem;
}
