.fondo{
  background-image: url("../img/farm.svg");
  background-size: cover;
}
body{
  perspective: 1000px;
  perspective-origin: center right;
}
h1{
  color: #fff176;
  text-shadow: 2px 2px black;
}
h2{
  color: #388e3c;
}
.btn{
  width: 45%;
  border-radius: 20px;
}
.btn-floating{
  margin-top: 40px;
}
.animal{
  position: absolute;
  display: none;
}
.animalP{
  position: absolute;
  display: none;
}
.arbusto{
  position: absolute;
  display: block;
}
.cerca{
  position: absolute;
  display: none;
}
.Izq{
  transform: rotateY(90deg);
  left: 25vw;
  top: 20vw;
  z-index: 3;
}
.Der{
  transform: rotateY(-90deg);
  left: 85vw;
  top: 20vw;
  z-index: 3;
}
.Back{
  transform: scale(0.8,0.8);
  left: 45vw;
  top: 20vw;
  z-index: 2;
}
.Front{
  left: 57vw;
  top: 20vw;
  z-index: 5;
}


#vaca{
  left: 30vw;
  top: 40vw;
}
#cerdo{
  left: 50vw;
  top: 40vw;
  z-index: 6;
}
#gallina{
  left: 70vw;
  top: 40vw;
  z-index: 6;
}
#oveja{
  left: 85vw;
  top: 40vw;
  z-index: 6;
}
#bush1{
  left: 33vw;
  top: 32vw;
  z-index: 1;
}
#bush2{
  left: 39vw;
  top: 35vw;
  z-index: 2;
}
#bush3{
  left: 48vw;
  top: 39vw;
  z-index: 1;
}
#bush4{
  left: -1.4vw;
  top: 41vw;
}
#bush5{
  left: 51vw;
  top: 49vw;
}
#bush6{
  left: 3vw;
  top: 46vw;
  z-index: 10;
}
#bush7{
  left: 58vw;
  top: 33vw;
}
#bush8{
  left: 28vw;
  top: 48vw;
  z-index: 1;
}
#bush9{
  left: 45vw;
  top: 50vw;
  z-index: 5;
}
#bush10{
  left: 91vw;
  top: 35vw;
  z-index: 1;
}
#bush11{
  left: 75vw;
  top: 45vw;
}
#bush12{
  left: 88vw;
  top: 51vw;
  z-index: 10;
}
#vacaP{
  left: 2vw;
  top: 7vw;
  z-index: 4;
}
#cerdoP{
  left: 2vw;
  top: 14vw;
  z-index: 4;
}
#gallinaP{
  left: 2vw;
  top: 20vw;
  z-index: 4;
}
#ovejaP{
  left: 2vw;
  top: 25vw;
  z-index: 4;
}
.cursorCorte{
  cursor: url("../img/cut.png"), auto;
}
.cursorConstruir{
  cursor: url("../img/build.png"), auto;
}
.panel-principal{
  width: 100%;
  height: 600px;
  z-index: -2;
}
