html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#map-container {
  margin: 4vh auto;
  width: 90%;
  height: 70%;
}

#map {
  width: 100%;
  height: 100%;
}

#btn-geo {
  margin-top: 3vh;
}

.brand-logo {
  font-family: 'Roboto';
}
