<div class="page-header">
  <h1>Noticias <small>Ponte al tanto de lo último en el mundo</small></h1>
</div>

<div>
  <div class="col s10">
    <p>Sit Lorem cillum dolore ea eu adipisicing veniam. Enim sit ipsum consequat occaecat dolore. Excepteur exercitation do aliqua voluptate dolor culpa irure reprehenderit duis id. Eu magna ipsum laboris consequat irure adipisicing deserunt enim officia sint do aute velit laborum. Irure minim et ea laborum culpa Lorem proident nisi. Consectetur nostrud esse aliquip duis veniam nisi.
    </p>
    <p>
      Labore elit labore duis nulla sint qui ex laborum sit culpa laboris fugiat. Sunt cillum dolore est sunt adipisicing ea amet minim ea eiusmod. Mollit occaecat aute veniam et fugiat amet occaecat fugiat Lorem velit labore nostrud commodo et.
    </p>
  </div>
</div>
