<div class="page-header">
  <h1>Perfil <small>Configura tu información personal</small></h1>
</div>

<div>
  <div class="media-left">
    <img class="media-object" src="../assets/profile.jpg" alt="Mi perfil">   
  </div>
  <div class="media-body">
    <h3>Peter Jones</h3>
    <p>Duis deserunt cillum fugiat mollit enim fugiat sunt pariatur. Minim incididunt nulla officia deserunt proident tempor pariatur sint. Dolor laborum laborum est duis ut in incididunt adipisicing exercitation ipsum. Lorem aute reprehenderit tempor laborum veniam ex nisi commodo dolor.</p>
  </div>
</div>
