.fondo{
  background-image: url("../img/farm.svg");
  background-size: cover;
}
h1{
  color: #fff176;
  text-shadow: 2px 2px black;
}
h2{
  color: #388e3c;
}
.btn{
  width: 45%;
}
.animal{
  position: absolute;
  display: none;
}
#vaca{
  left: 30vw;
  top: 40vw;
}
#cerdo{
  left: 50vw;
  top: 40vw;
}
#gallina{
  left: 70vw;
  top: 40vw;
}
#oveja{
  left: 85vw;
  top: 40vw;
}
