*{
  box-sizing: border-box;
}
body{
  font-family: helvetica;
  background-image: url("../image/fondo.jpg");
}
.contenedor{
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(211, 225, 239, 0.7);
  border-radius: 15px;
  height: 760px;
}
#tablero{
  width: 70%;
  height: 70%;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  display: flex;
  flex-flow: row wrap;
}
.cuadro{
  width: 20%;
  height: 132.5px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: radial-gradient(#368AE9,#25243A);

}
.contenido{
  width: 100%;
  height: 132.5px;
  display: none;
}

/*---------------------- Switch Plugin----------------------*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
